@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  height: 100%;
}
body {
  font-family: 'open sans';
}
html.dark body {
  background-image: linear-gradient(
    75deg,
    hsl(240deg 10% 4%) 0%,
    hsl(240deg 12% 5%) 20%,
    hsl(228deg 16% 6%) 36%,
    hsl(231deg 19% 7%) 49%,
    hsl(233deg 19% 8%) 61%,
    hsl(234deg 21% 9%) 72%,
    hsl(235deg 22% 11%) 81%,
    hsl(236deg 25% 12%) 89%,
    hsl(237deg 27% 13%) 96%,
    hsl(234, 30%, 14%) 100%
  );
}
/* CUSTOM TAILWIND */

.link {
  position: relative;
}
html.dark .link::after {
  background: #fff;
}
.link::after {
  content: '';
  position: absolute;
  background: #4b5563;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.link:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.custom-shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* Shape Divider */
.custom-shape-divider-top-1651452485 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1651452485 svg {
  position: relative;
  display: block;
  width: calc(134% + 1.3px);
  height: 91px;
}

.custom-shape-divider-top-1651452485 .shape-fill {
  fill: #ffffff;
}
html.dark .custom-shape-divider-top-1651452485 .shape-fill {
  fill: none;
}
@layer components {
  .btn {
    @apply hidden py-2 font-medium text-white transition-colors duration-300 bg-blue-600 border-2 border-blue-600 rounded px-7 hover:text-light_p hover:bg-transparent focus:outline-none focus:ring-4 focus:ring-blue-400 dark:hover:text-white lg:inline-block;
  }
  .link-btn {
    @apply py-2 font-medium text-white transition-colors duration-300 bg-blue-600 border-2 border-blue-600 rounded px-7 hover:text-light_p hover:bg-transparent focus:outline-none focus:ring-4 focus:ring-blue-400 dark:hover:text-white;
  }
}
